.containerLogin{
    display: block;
    width: 620px;
    margin: 50px auto;
    font-size: 16px;
}

.greet {
    font-size: 24px;
    color: #226957;
    margin-bottom: 20px;
}

.form{
    margin-top: 25px;
}

.email, .password{
    width: 615px;
    height: 35px;
    font-size: 15px;
    color: #333333;
    border-radius: 5px;
    border: 1px solid #CFD6E5;
    margin-bottom: 20px;
    padding-left: 10px;
}

.linkForgot, .linkSignUp{
    text-decoration: none;
    color: #2F80ED;
}

.containerSubmit{
    text-align: right;
}

.submitLogin{
    background-color: #226957;
    color: white;
    width: 140px;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    margin-top: 30px;
}

.wordSignUp{
    text-align: center;
    margin-top: 20px;
}

@media screen and (max-width: 700px) {
    .containerLogin{
        display: block;
        width: 350px;
        margin: 10px auto;
        font-size: 16px;
    }

    .email, .password{
        width: 350px;
    }

    .submitLogin{
        width: 90px;
        height: 35px;
        font-size: 13px;
    }
}
