.form-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-detail{
    text-align: start;
    width: 600px;
}

h2{
    color: var(--primary, #226957);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

span{
    color: var(--secondary, #EA9E1F);
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

p{
    color: var(--gray-2, #4F4F4F);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form-section{
    margin-top: 40px;
}

form input{
    border-radius: 4px;
    border: 1px solid var(--new-neutral-n-80, #CFD6E5);
    background: var(--new-neutral-n-100, #FFF);
    width: 600px;
    height: 35px;

    margin-bottom: 20px;

    color: var(--gray-1, #333);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 8px;
}

.button-style{
    margin-top: 20px;
}

button {
    float: right;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 140px;

    border-radius: 8px;
    background: var(--primary, #226957);

    color: #FFF;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    cursor: pointer;
}

button.auth-button{
    height: 36px;
}

.float-left{
    float: left;
}

.asking-section-password{
    margin-top: -20px;
}

.asking-section{
    margin-bottom: 20px;
}

.asking-section a{
    text-decoration: none;
    color: var(--blue-1, #2F80ED);
}
.asking-section-password a{
    text-decoration: none;
    color: var(--blue-1, #2F80ED);
}

@media only screen and (max-width: 600px) {
    .form-wrapper{
        width: 100%;
    }

    form input{
        width: 80vw;
    }

    .form-detail{
        width: 80vw;
    }
  }

  p.error{
    color: red;
  }
