.homepage-banner{
    height: auto;
    background: url(./Homepage-Banner.jpeg);
    background-size:contain;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-detail{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

h1{
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

h6{
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p{
    color: var(--gray-1, #333);
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.homepage-count{
    padding: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

span{
    color: var(--primary, #226957);
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.homepage-count-item{
    margin: 15px;
    width: 25%;
}

.recommended{
    width: 100vw;
    height: auto;
}

.recommended-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.recommended-item-list{
    display: flex;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h5{
    color: var(--primary, #226957);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.recommended-item{
    cursor: pointer;
    margin: 10px;
    height: auto;
    width: 25%;

    border: 0.1px solid rgb(83, 81, 81);
    border-radius: 10px;
}

.recommended-item img{
    width: 100%;
    height: fit-content;
}

.item-detail{
    display: flex;
    justify-content: center;
    flex-direction: column;

    margin-left: 10px;
}

.item-detail p{
    text-align: left;
}

p.title{
    margin-top: -10px;

    color: var(--gray-1, #333);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.item-detail h5{
    text-align: left;
}

@media only screen and (max-width: 600px) {
    .homepage-count{
        flex-direction: column;
    }

    .homepage-banner{
        background-size: cover;
    }

    .recommended-item-list{
        flex-direction: column;
    }

    .recommended-item{
        width: 75%;
    }
  }
